# replace with your keys and data
# rename file to .env

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/fastapi_db
JWT_SECRET_KEY=your-secret-key
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
MAILGUN_API_KEY=your-mailgun-api-key
MAILGUN_DOMAIN=your-mailgun-domain
MAILGUN_FROM_EMAIL=noreply@your-domain.com
APP_BASE_URL=http://localhost:8000
PASSWORD_RESET_EXPIRE_MINUTES=15
EMAIL_VERIFICATION_EXPIRE_MINUTES=1440